{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{title}}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
<!--
Загрузка статики, Базовый HTML:
  - <title>{% block title %}{{title}}{% endblock %}</title> – создаёт блок title, который может быть заменён в дочернем шаблоне.
  Переменная {{title}} будет подставлена значением, переданным из контекста рендеринга.
     - <link rel="stylesheet" href="{% static 'css/style2.css' %}"> – подключает таблицу стилей style2.css из папки static/css.

-->
    {% block menu %}
    <nav>
        <div class="logo">
            <a href='/' class="logo"><img src="{% static 'img/logo2.png' %}" alt="Логотип " /></a>
        </div>
        <div class="menu">
            <a href="/portfolio">Портфолио</a>
            <a href="/services">Услуги</a>
            <a href="/contacts">Контакты</a>
        </div>
    </nav>
    {% endblock %}
<!--
Определяем блок с именем «menu» и размещает внутри него навигационное меню (nav). Внутри nav находится логотип,
который представляет собой изображение с классом «logo». Логотип является ссылкой на главную страницу сайта (/),
что позволяет пользователю вернуться на неё, нажав на логотип.
Определяем блок с классом «menu» внутри элемента навигации (nav), который был описан ранее.
В этом блоке находятся ссылки на соответствующие разделы сайта.
При нажатии на каждую ссылку пользователь будет перенаправлен на соответствующую страницу.

-->
    {% block content %}
    <div class="contact-info">
        <div class="column">
            <div>ЗАКАЗАТЬ ПРОЕКТ</div>
            <br>
            <div> +7 (938) 346-22-26</div>
            <div> +7 (928) 251-44-99</div>
            <div>stroialtair26@yandex.ru</div>
        </div>
        <div class="column">
            <div>АДРЕС</div>
            <br>
            <div>г Кисловодск, ул. Революции, 50</div>
            <div>Россия</div>
        </div>
        <div class="column">
            <div>ВРЕМЯ РАБОТЫ</div>
            <br>
            <div>пн-пт 10:00 - 18:00</div>
        </div>
    </div>
    {% endblock %}
<!--
Блок с именем «content», внутри которого находится элемент div с классом «contact-info».
Этот элемент содержит три колонки с информацией: контактные данные, адрес и время работы. В каждой колонке есть
соответствующие данные, например, номера телефонов, адреса электронной почты и фактические адреса, а также время работы компании.
-->
</body>
</html>