{% extends "home_page.html" %}

{% block title %} {{ title}} {% endblock %}

{% block menu %} {{block.super}} {% endblock %}

<!--

1. {% extends "home_page.html" %}:
   Эта строка указывает, что текущий шаблон наследуется от другого шаблона под названием home_page.html.
   Все содержимое родительского шаблона будет доступно в этом дочернем шаблоне.

2. {% block title %} {{ title}} {% endblock %}:
   Здесь создается блок с именем title, который заменяет одноименный блок в родительском шаблоне home_page.html.
   Внутри блока выводится значение переменной {{ title }}, которая передается в контексте представления.

3. {% block menu %} {{block.super}} {% endblock %}:
   В этом блоке с именем menu используется конструкция {{block.super}}, которая вставляет содержимое одноименного
    блока из родительского шаблона. Таким образом, если в родительском шаблоне уже определен блок menu,
    его содержимое будет добавлено в текущий шаблон.

    -->