{% extends "contacts.html" %}

{% block title %} {{ title }} {% endblock %}

{% block menu %} {{block.super}} {% endblock %}

{% block content %}
<!--
Строка {% extends "contacts.html" %} указывает, что текущий шаблон должен наследовать структуру и стили из файла «contacts.html».

В блоке {% block title %} {{ title }} {% endblock %} будет отображаться содержимое переменной title.

Блок {% block menu %} {{block.super}} {% endblock %} вызывает родительский блок «menu», который был определён в файле «contacts.html», и добавляет к нему своё содержимое.

Наконец, блок {% block content %} содержит основное содержимое страницы, которое будет добавлено к шаблону «contacts.html».
-->
   <div class="contact-info">
        <div class="column">
        <div>ДИЗАЙН ИНТЕРЬЕРА</div>
        <div>Мы предлагаем полный спектр услуг по созданию уникального и комфортного интерьера для вашего дома или офиса.
            От разработки концепции до реализации проекта – мы позаботимся обо всех деталях.</div>
        <br>
        <div>АРХИТЕКТУРНОЕ ПРОЕКТИРОВАНИЕ</div>
        <div>Наша команда профессионалов предлагает комплексные решения в области архитектурного проектирования.</div>
        <div>Мы создаем уникальные проекты, учитывая все ваши пожелания и требования.</div>
        <br>
        <div>ЛАНДШАФТНЫЙ ДИЗАЙН</div>
        <div>Наша студия предлагает профессиональные услуги по ландшафтному дизайну, превращая обычные участки в настоящие произведения искусства.</div>
        <div>Мы создадим уникальный проект, учитывающий все особенности вашего участка и ваши личные предпочтения.</div>
        <br>
        <div>КОМПЛЕКТАЦИЯ ПРОЕКТОВ</div>
        <div>Мы предлагаем полный цикл комплектации строительных и дизайнерских проектов.</div>
        <div>Наша команда подберет все необходимые материалы, оборудование и комплектующие, обеспечив высокое качество и соответствие вашим требованиям.</div>
        <br>
        <div>СТРОИТЕЛЬСТВО</div>
        <div>Наша строительная компания предоставляет полный спектр услуг по строительству объектов любой сложности. Мы гарантируем высокий уровень исполнения и соблюдение сроков.</div>
        </br>
        <div>Наши услуги включают:</div>
        <div>Строительство жилых домов и коттеджей</div>
        <div>Возведение коммерческих и промышленных объектов</div>
        <div>Благоустройство территорий</div>
        </br>
        </div>
   </div>
{% endblock %}
<!--
Блок с именем «content», внутри которого находится элемент div с классом «contact-info».
Этот элемент содержит информацию с предоставляемыми услугами
-->
</body>
</html>